  <!-- Exportar Libreria de Polymer desde el CDN -->
<link rel="import" href="https://polygit.org/components/polymer/polymer-element.html">

<dom-module id="nombre-componente">
    <template>
      <style>
        h2 {
          background-color: orange;
          color: red;
        }
      </style>
      <h2>Esto es un test</h2>
    </template>
    <script>
      class NombreComponente extends Polymer.Element {
        static get is() {
          return 'nombre-componente';
        }
        //Puede no estar
        constructor() {
          super();
        }
      }
      customElements.define(NombreComponente.is, NombreComponente);
    </script>
  </dom-module>

  <dom-module id="navegador-secciones">

    <template>
      <style>
        nav {
          background-color: #eef;
          padding: 10px;
        }

        ul {
          margin: 0;
          padding: 0;
          list-style-type: none;
        }

        li {
          display: inline-block;
          margin-left: 15px;
        }
      </style>
      <nav>
        <ul>
          <li>
            <a href="pagina1.html">
              Enlace 1
            </a>
          </li>
          <li>
            <a href="pagina2.html">
              Enlace 2
            </a>
          </li>
          <li>
            <a href="pagina3.html">
              Enlace 3
            </a>
          </li>
        </ul>
      </nav>
    </template>

    <script>
      class NavegadorSecciones extends Polymer.Element {
        static get is() { return 'navegador-secciones'; }
      }

      customElements.define(NavegadorSecciones.is, NavegadorSecciones);
    </script>

  </dom-module>