<div class="row">
	<div class="col-md-6">
		<cr-cocktail-list (cocktailSelected)="cocktailSelected = $event"></cr-cocktail-list>
	</div>
	<div class="col-md-6">
		<cr-cocktails-details [cocktailSelected]="cocktailSelected"></cr-cocktails-details>
	</div>
</div>

