<a href="#" class="list-group-item clearfix">
  <div class="pull-left">
    <img class="img-cocktail img-circle" src="{{cocktail.image}}">
  </div>
  <span>
    <h4 class="list-group-item-heading">{{cocktail.name}}</h4>
    <p class="list-group-item-text">{{cocktail.description}}</p>
  </span>
</a>