<div class="directives" *ngIf ="switch">	
	<h1>Directivas de atributo</h1>
	<h3>ngClass y ngStyle</h3>
	<div [ngClass]="{ background: true, border: true}" ></div>
	<div [class.background]="true" ></div>
	<div [ngStyle]="{'background-color': 'blue'}" ></div>
	<hr>
</div>

<template [ngIf]="switch">
	<div>Prueba</div>
</template>

<div class="directives">	
	<h1>Directivas Personalizadas</h1>
	<div [appHeighlight]="'red'" [defaultColor]="'green'"></div>
	<hr>
</div>


<div class="directives">	
	<h1>Directivas Estructurales</h1>
	<h3>*ngIf</h3>
	<button (click)="ocultarMostrar()">Ocultar/Mostrar</button>
	<h3>*ngFor</h3>
	<ul>
		<li *ngFor="let item of items; let i = index ">{{i}}) {{item}}</li>
	</ul>
	<h3>*ngSwitch</h3>
	<p [ngSwitch]="value">
		<template [ngSwitchCase]="0">0</template>
		<template [ngSwitchCase]="25">25</template>
		<template [ngSwitchCase]="50">50</template>
		<template [ngSwitchCase]="75">75</template>
		<template ngSwitchDefault>100</template>
	</p>
	<hr>
</div>
