div.directives{
	text-align: center;
}

div.directives div {
	height: 100px;
	width: 100px;
	margin: 50px auto;
}

.background{
	background-color: orange;
}

.border{
	border: 1px solid blue;
}

button{
	padding: 10px;
	border: 0;
	border-radius: 4px;
	outline: 0;
}

button:hover{
	cursor: pointer;
	background-color: #A4A4A4;
}