<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">

<dom-module id="test-cli-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
    <!-- Llamar al componente instalado paper-input -->
    <paper-input label="Escribe algo" value="{{prop1}}"></paper-input>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class TestCliApp extends Polymer.Element {
      static get is() { return 'test-cli-app'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'test-cli-app'
          }
        };
      }
    }

    window.customElements.define(TestCliApp.is, TestCliApp);
  </script>
</dom-module>
