<h1>Property Binding</h1>
<input type="text" [value]="StrInter"> <!-- Property Binding -->
<p [ngClass]="{styleBorder: activeBorder()}">Texto de prueba</p> <!-- Enginer Binding or Engine Content -->
<p [ngStyle]="{color: 'red'}">Texto de prueba</p> <!-- Enginer Binding or Engine Content -->

<h1>Custom Property binding</h1>
<ma-property-binding [resultado]="5"></ma-property-binding> <!-- Custom Property binding -->


<h1>Event Biding</h1>
<ma-event-binding (maClicked)="onClicked($event)"></ma-event-binding>

<h1>Two Way Binding</h1>
<ma-tow-way-binding ></ma-tow-way-binding>